{% extends 'base.html' %}
{% block title %}
CarPoint
{% endblock %}

{% block body %}
<!-- home section -->
<section class="home " id="home">
    <div class="home-text">
        <h1>We Have Everything <br> Your <span>Car</span>Need</h1>
        <p>Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Expedita eligendi </p>
        <!-- Home Button -->
        <a href="/discover" class="btn">Discover Now</a>
    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,224L48,208C96,192,192,160,288,128C384,96,480,64,576,74.7C672,85,768,139,864,149.3C960,160,1056,128,1152,96C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
</section>

<!-- Price section -->
<section class="price" id="price">
    <div class="heading">
        <span>All Prices</span>
        <h2>Know Price Of Car</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <!-- Price section two Option -->
    <div class="car-container">
        <div class="box" onmouseover="change(1,'img1','tit1','a1','box-content1')" onmouseout="change(2,'img1','tit1','a1','box-content1')">
            <div class="boxContent" id="box-content1">
                <img src="../static/buy-img.png" id="img1" alt="Car Buy">
                <h1 id="tit1">Buying Price</h1>
                <a href="/buy" id="a1" hidden>Know Price <i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </div>
        <div class="box" onmouseover="change(1,'img2','tit2','a2','box-content2')" onmouseout="change(2,'img2','tit2','a2','box-content2')">
            <div class="boxContent" id="box-content2">
                <img src="../static/car-sell.png" id="img2" alt="Car sell">
                <h1 id="tit2">Selling Price</h1>
                <a href="/sellingPrice" id="a2" hidden>Know Price <i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </div>

        <!-- <div class="box" onmouseover="change(1,'img2','tit2','a2','box-content2')" onmouseout="change(2,'img2','tit2','a2','box-content2')">
            <div class="boxContent" id="'box-content2'">
                <img src="../static/css/buy-img.png" id="img2" alt="Car sell" >
                <h1 id="tit2">Buying Price</h1>
                <a href="#" id="a2" hidden>Know Price <i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </div> -->
    </div>
</section>


<!-- Model Section -->
<section class="model" id="model">
    <div class="model-heading">        
        <h2>Know Price Of Car</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="model-container">
    
        <!-- model 1 -->
        <div class="box">
            <div class="icon">01</div>
            <div class="content">
                <h3>Service Name</h3>
                <p>Lorem, ipsum dolor sit amet
                     consectetur adipisicing elit.
                      Reiciendis impedit architecto numquam
                       quae error dicta dolorem. Exercitationem 
                </p>
                <a href="/model1">Know Model</a>
            </div>
        </div>
    
        <!--model 2 -->
        <div class="box">
            <div class="icon">02</div>
            <div class="content">
                <h3>Service Name</h3>
                <p>Lorem, ipsum dolor sit amet
                     consectetur adipisicing elit.
                      Reiciendis impedit architecto numquam
                       quae error dicta dolorem. Exercitationem 
                </p>
                <a href="/model2">Know Model</a>
            </div>
        </div>
    
        <!-- model 3 -->
        <div class="box">
            <div class="icon">03</div>
            <div class="content">
                <h3>Service Name</h3>
                <p>Lorem, ipsum dolor sit amet
                     consectetur adipisicing elit.
                      Reiciendis impedit architecto numquam
                       quae error dicta dolorem. Exercitationem 
                </p>
                <a href="/model3">Know Model</a>
            </div>
        </div>
    
    </div>
    
    </section>

   <!-- Visualization section  -->
<section class="stat" id="stat">
    <div class="stat-heading"> 
        <h4>Statitics</h4>       
        <h2>Data Visualization</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, voluptates nam libero minus molestias error dicta! Delen.</p>
    </div>
    <div class="img-slider">
        <div class="slide active">
            <img src="../static/slider1.jpg">
            <div class="info">
                <h1>Slide 01</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi incidunt quibusdam reiciendis dolor iure corporis fuga vel odit delectus, molestias cupiditate consectetu</p>
                <a href="/dataset1">Discover More</a>
            </div>
        </div>
        <div class="slide">
            <img src="../static/slider1.jpg">
            <div class="info">
                <h1>Slide 02</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi incidunt quibusdam reiciendis dolor iure corporis fuga vel odit delectus, molestias cupiditate consectetu</p>
                <a href="/dataset2">Discover More</a>
            </div>
        </div>
        <div class="slide">
            <img src="../static/slider1.jpg">
            <div class="info">
                <h1>Slide 03</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi incidunt quibusdam reiciendis dolor iure corporis fuga vel odit delectus, molestias cupiditate consectetu</p>
                <a href="/dataset3">Discover More</a>
            </div>
        </div>
        <div class="slide">
            <img src="../static/slider1.jpg">
            <div class="info">
                <h1>Slide 04</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi incidunt quibusdam reiciendis dolor iure corporis fuga vel odit delectus, molestias cupiditate consectetu</p>
                <a href="/dataset4">Discover More</a>
            </div>
        </div>
        <div class="slide">
            <img src="../static/slider1.jpg">
            <div class="info">
                <h1>Slide 05</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi incidunt quibusdam reiciendis dolor iure corporis fuga vel odit delectus, molestias cupiditate consectetu</p>
                <a href="/dataset5">Discover More</a>
            </div>
        </div>
        <div class="navigation">
            <div class="btn btn1 active"></div>
            <div class="btn btn2"></div>
            <div class="btn btn3"></div>
            <div class="btn btn4"></div>
            <div class="btn btn5"></div>
        </div>
    </div>
  

</section>


 <!-- About Sectiction -->
<section class="about" id="about">
<div class="about-container">
    <div class="content-section">
        <div class="title">
            <h1>About Us</h1>
        </div>
        <div class="content">
            <h3>Lorem ipsum dolor sit amet, consectetur  elit. </h3>
            <p> Maiores expedita vel sunt deleniti cupiditate nam, accusamus odit eius veritatis, aliquam animi facilis, natus omnis in et fugiat incidunt mollitia sequi?
            </p> 
            
             <a href="/aboutUs">Read More</a>
           
            
        </div>
        
    </div>
    
</div>
<div class="team-container">
    <div class="card">
     <div class="content">
         <div class="imgBx"><img src="../static/css/image1.jpg"></div>
         <div class="contentBx">
             <h3>Ajay More <br><span>FullStack Developer</span></h3>
         </div>
     </div>
     <ul class="sci">
         <li style="--i:1">
             <a href="#"><i class='bx bxl-github' aria-hidden="true"></i></a>
         </li>
         <li style="--i:2">
             <a href="#"><i class='bx bxl-linkedin-square' aria-hidden="true"></i></a>
         </li>
         <li style="--i:3">
             <a href="#"><i class='bx bxl-instagram' aria-hidden="true"></i></a>
         </li>
     
        </ul>  
    </div>   
 
 
    <!-- teammate 2 -->
    <div class="card">
     <div class="content">
         <div class="imgBx"><img src="../static/css/image1.jpg"></div>
         <div class="contentBx">
             <h3>Ranjeet Kumbhar <br><span>ML Expert & Developer</span></h3>
         </div>
     </div>
     <ul class="sci">
         <li style="--i:1">
             <a href="#"><i class='bx bxl-github' aria-hidden="true"></i></a>
         </li>
         <li style="--i:2">
             <a href="#"><i class='bx bxl-linkedin-square' aria-hidden="true"></i></a>
         </li>
         <li style="--i:3">
             <a href="#"><i class='bx bxl-instagram' aria-hidden="true"></i></a>
         </li>
     
        </ul>  
    </div>   
 </div>  
</section>





{% endblock %}
{% block script %}
<script>
// navbar 


     var slide=document.querySelectorAll('.slide');     
    var btns=document.querySelectorAll('.btn');
    let currentSlide=1;
    let idx=1;
    var manualNav = function(manual){
        slide.forEach((slides) => {
          
          slides.classList.remove('active');
          btns.forEach((btn) => {
            btn.classList.remove('active');
          });
        });

        slide[manual].classList.add('active');
        btns[manual+1].classList.add('active');
    }
    btns.forEach((btn,i)=>{
       btn.addEventListener("click",()=>{
        
        manualNav(i-1);
        idx=i;
        currentSlide=i-1;
        
       })
    });


    // autoplay
    var repeat=function(activeClass){
        let active=document.getElementsByClassName('active');
        
       
        var repeater = () =>{
            setTimeout(function(){
                if(slide.length == idx)
                {idx=0;}
                if(idx >=slide.length)
                {return;}
                [...active].forEach((activeSlice)=>{
                    
                activeSlice.classList.remove('active');
                btns.forEach((btn) => {
            btn.classList.remove('active');
                });
                });

                slide[idx].classList.add('active');
                
                btns[idx+1].classList.add('active');
                idx++;

                
                repeater();
            },10000);
           }
           repeater();
    }
   repeat();
// Price color change
 function change(a,img,tit,link,cont)
 {
    if(a==1)
    {document.getElementById(img).style.display='none'
    document.getElementById(tit).style.display='none'
    document.getElementById(link).style.display='inline'
    document.getElementById(cont).style.height='350px'
   }
   else
   {
    document.getElementById(img).style.display='inline'
    document.getElementById(tit).style.display='inline'
    document.getElementById(link).style.display='none'
    document.getElementById(cont).style.height='auto'
   }  
 }

//  header dynamic color change
//  let header =document.querySelector('header');
//     window.addEventListener('scroll',()=>{
//         // header.classList.toggle('logo_bg_0',window.scrollY > 525);
//         // header.classList.toggle('logo_bg_1',window.scrollY > 1270);
//         header.classList.toggle('shadow0',window.scrollY > 0);
//         // header.classList.toggle('link_color_0',window.scrollY > 140);
//         // header.classList.toggle('link_color_1',window.scrollY > 820);
//     });


// slider script
</script>



{% endblock %}